################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EmptySln/v15
/Calculator/Debug
/CheckCircleLink/Debug
/Convert/Debug
/Copy_Constructor/Debug
/debug
/Ext_Pointer/Debug
/httpmaster/Debug
/Inline_Ref/Debug
/ipch
/LittleAlg/Debug
/ManipulateFile/Debug
/RookieApp/Debug
/SearchFile/Debug
/SimpleAnalyzer/Debug
/SimulateInput/Debug
/Sort/Debug
/StoneLexer/Debug
/StringContains/Debug
/TemplateClass/Debug
/TestBigFac/Debug
/TinyVM/Debug
/WooMaster/Debug
/BinarySearch/Debug
